body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    height: auto;
}

h1
{
    color: white;
    text-align: center;
    font-size: 28px;
}
.estilos
{

    color: white;
    text-align: center;
    font-size: 24px;
}

.imagenes
{
    
    display: block;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;  
 
}

form
{
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

.etiqueta
{
    text-align: center;
    margin-left: 615px;
    margin-right: 2px;
    
}

.botones:hover
{
    background-color: rgb(50, 26, 156);
    color: white;
    transform: scale(1.5);
    font-size: 8px;
    letter-spacing: 1.5px;
}

#boton
{
    padding: 10px 20px;
    border-radius: 5px;
    border: 5px solid #22ffda;
    display: inline;
}

#boton2
{
    padding: 10px 20px;
    border-radius: 5px;
    border: 5px solid #ff4322;
    display: inline;
}

